[submodule "frida_hook_libart"]
	path = frida_hook_libart
	url = https://github.com/lasting-yang/frida_hook_libart.git
[submodule "frida-agent-example"]
	path = frida-agent-example
	url = https://github.com/oleavr/frida-agent-example.git
[submodule "frida-scripts"]
	path = frida-scripts
	url = https://github.com/0xdea/frida-scripts.git
[submodule "OkHttpLogger-Frida"]
	path = OkHttpLogger-Frida
	url = https://github.com/siyujie/OkHttpLogger-Frida.git
[submodule "r0tracer"]
	path = r0tracer
	url = https://github.com/r0ysue/r0tracer.git
[submodule "FRIDA-DEXDump"]
	path = FRIDA-DEXDump
	url = https://github.com/hluwa/FRIDA-DEXDump.git
[submodule "Wallbreaker"]
	path = Wallbreaker
	url = https://github.com/hluwa/Wallbreaker.git
[submodule "FridaContainer"]
	path = FridaContainer
	url = git@github.com:FreaxW/FridaContainer.git
[submodule "r0capture"]
	path = r0capture
	url = git@github.com:FreaxW/r0capture.git
[submodule "arida"]
	path = arida
	url = git@github.com:FreaxW/arida.git
[submodule "frida-unpack"]
	path = frida-unpack
	url = git@github.com:FreaxW/frida-unpack.git
[submodule "ApkUnpackByFrida"]
	path = ApkUnpackByFrida
	url = https://github.com/Kr1s77/ApkUnpackByFrida.git
[submodule "Frida-Apk-Unpack"]
	path = Frida-Apk-Unpack
	url = https://github.com/GuoQiang1993/Frida-Apk-Unpack.git
[submodule "ZenTracer"]
	path = ZenTracer
	url = https://github.com/hluwa/ZenTracer.git
[submodule "jnitrace"]
	path = jnitrace
	url = https://github.com/chame1eon/jnitrace.git
[submodule "AndroidSecurityStudy"]
	path = AndroidSecurityStudy
	url = git@github.com:FreaxW/AndroidSecurityStudy.git
[submodule "frida-all-in-one"]
	path = frida-all-in-one
	url = git@github.com:FreaxW/frida-all-in-one.git
[submodule "awesome-frida"]
	path = awesome-frida
	url = https://github.com/dweinstein/awesome-frida.git
[submodule "frida_dump"]
	path = frida_dump
	url = https://github.com/lasting-yang/frida_dump.git
[submodule "frida-snippets"]
	path = frida-snippets
	url = https://github.com/iddoeldor/frida-snippets.git
[submodule "Awesome--Frida-UI"]
	path = Awesome--Frida-UI
	url = git@github.com:FreaxW/Awesome--Frida-UI.git
[submodule "findhash"]
	path = findhash
	url = https://github.com/Pr0214/findhash.git
[submodule "trace_natives"]
	path = trace_natives
	url = https://github.com/Pr0214/trace_natives.git
[submodule "frida-android-hook"]
	path = frida-android-hook
	url = https://github.com/noobpk/frida-android-hook.git
