[submodule "frida_hook_libart"]
	path = frida_hook_libart
	url = https://github.com/lasting-yang/frida_hook_libart.git
[submodule "frida-agent-example"]
	path = frida-agent-example
	url = https://github.com/oleavr/frida-agent-example.git
[submodule "frida-scripts"]
	path = frida-scripts
	url = https://github.com/0xdea/frida-scripts.git
[submodule "OkHttpLogger-Frida"]
	path = OkHttpLogger-Frida
	url = https://github.com/siyujie/OkHttpLogger-Frida.git
[submodule "r0tracer"]
	path = r0tracer
	url = https://github.com/r0ysue/r0tracer.git
[submodule "FRIDA-DEXDump"]
	path = FRIDA-DEXDump
	url = https://github.com/hluwa/FRIDA-DEXDump.git
[submodule "Wallbreaker"]
	path = Wallbreaker
	url = https://github.com/hluwa/Wallbreaker.git
[submodule "FridaContainer"]
	path = FridaContainer
	url = git@github.com:FreaxW/FridaContainer.git
[submodule "r0capture"]
	path = r0capture
	url = git@github.com:FreaxW/r0capture.git
[submodule "arida"]
	path = arida
	url = git@github.com:FreaxW/arida.git
