[submodule "frida_hook_libart"]
	path = frida_hook_libart
	url = https://github.com/lasting-yang/frida_hook_libart.git
[submodule "frida-agent-example"]
	path = frida-agent-example
	url = https://github.com/oleavr/frida-agent-example.git
[submodule "frida-scripts"]
	path = frida-scripts
	url = https://github.com/0xdea/frida-scripts.git
[submodule "OkHttpLogger-Frida"]
	path = OkHttpLogger-Frida
	url = https://github.com/siyujie/OkHttpLogger-Frida.git
