attrdict==2.0.1
certifi==2020.12.5
chardet==4.0.0
cli-helpers==2.1.0
click==8.0.1
colorama==0.4.4
coloredlogs==15.0.1
configobj==5.0.6
crypto==1.4.1
delegator.py==0.1.1
Flask==2.0.1
frida==12.11.18
frida-tools==5.4.0
gmpy2 @ file:///D:/Python/gmpy2-2.0.8-cp39-cp39-win_amd64.whl
hexdump==3.3
humanfriendly==9.2
idna==2.10
install==1.3.4
itsdangerous==2.0.1
Jinja2==3.0.1
jnitrace==3.0.8
litecli==1.1.0
MarkupSafe==2.0.1
Naked==0.1.31
objection==1.8.4
pexpect==4.8.0
prompt-toolkit==2.0.10
ptyprocess==0.7.0
Pygments==2.9.0
pyreadline==2.1
Pyro4==4.80
PyYAML==5.4.1
requests==2.25.1
serpent==1.40
shellescape==3.8.1
six==1.16.0
sqlparse==0.2.4
tabulate==0.8.9
terminaltables==3.1.0
urllib3==1.26.5
wcwidth==0.2.5
Werkzeug==2.0.1
